{% extends 'myapp/base.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'myapp/'%}css/respuesta.css" />
{% endblock css %}

{% block contenido %}
    <form action="" method="post">
        {% csrf_token %}
        <section class="form-registro">
            <h1> seguro que deseas eliminar este plato? </h1>
            <p>nombre: {{plato}}</p>

            <input class="eliminar" type="submit" value="Confirmar">
            <a href="{% url 'lista_platos' %}">Cancelar</a>
        </section>
    </form>
{% endblock contenido %}