{% extends 'myapp/base.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'myapp/'%}css/respuesta.css" />
{% endblock css %}

{% block contenido %}
    <section class="form-registro">
        <h1> seguro que deseas eliminar este plato? </h1>
        <p>nombre: {{plato}}</p>

        <form action="" method="post">
            <input class="eliminar" type="submit" value="Confirmar"><form action="{% url 'lista_platos' %}" method="get">
                <input type="submit" value="Cancelar">
            </form>
        </form>
        <form action="{% url 'lista_platos' %}" method="get">
            <input type="submit" value="Cancelar" class='eliminar'>
        </form>
    </section>
{% endblock contenido %}