{% extends 'myapp/base.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'myapp/'%}css/nuevo_ingrediente.css" />
{% endblock css %}

{% block contenido %}
    <form action="" method="post">
        <section class="form-registro">
            <h4>Formulario Ingrediente</h4>
            <input class="controls" type="text" name="nombreIngrediente" id="nombreIngrediente" placeholder="Nombre Del Ingrediente">
            <div class="centrado">
                <select name="unidadMedida" id="unidadMedida">
                    <option value="" selected>-----</option>
                    <option value="ML">Mili Litros</option>
                    <option value="GR">Gramos</option>
                    <option value="L">Litros</option>
                    <option value="U">Unidad</option>
                </select>
            </div>
            <input class="boton" type="submit" value="guardar">
        </section>
    </form>
{% endblock contenido %}