{% extends 'myapp/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'myapp/'%}css/carrito.css" />
{% endblock css %}

{% block contenido %}
        <section class="form-plato">
            <form action="" method="post">
                {% csrf_token %}
                <h1>CARRITO DE COMPRAS</h1>
                {% for elemento in elemento_carrito %}
                <div class="informacion">
                    <ul>
                        <li class="info" >Nombre: <h4>{{elemento.plato.nombre_plato}}</h4></li>
                        <li class="info" >ID: <h4>{{elemento.plato.id_plato}}</h4></li>
                        <li class="info" >Descipcion: <h4>{{elemento.plato.descripcion}}</h4></li>
                        <li class="info" >Precio: <h4>{{elemento.plato.precio_plato}}</h4></li>
                    </ul>
                    <div class="center">
                        <select name="cantidad_{{elemento.plato.id_plato}}" id="cantidad">
                            {% for valor in rango_cantidad %}
                                <option value="{{valor}}">{{valor}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <a class="eliminar" href="{% url 'eliminar_carrito' elemento.plato.id_plato %}">Eliminar</a>
                    <input type="hidden" name="id_plato" value="{{elemento.plato.id_plato}}">
                </div>
                {% endfor %}
                    <div class="center">
                        <input class="boton" type="submit" value="Comprar">
                    </div>
            </form>
        </section>
{% endblock contenido %}