{% extends 'myapp/base.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'myapp/'%}css/login.css" />
{% endblock css %}

{% block contenido %}
    <form action="" method="post">
        {% csrf_token %}
        <section class="form-registro">
            <h4>Formulario Inicio Sesion</h4>
            <input class="controls" type="text" name="usuario" id="usuario" placeholder="ingrese su usuario">
            <input class="controls" type="password" name="password" id="password" placeholder="ingrese su contraseña">
            <p><a href="#">Terminos & Condiciones</a></p>
            <input class="boton" type="submit" value="Entrar">
            <p><a href="{% url 'registrar_cliente' %}">¿No Tienes Cuenta?</a></p>
        </section>
    </form>
{% endblock contenido %}