{% extends 'myapp/base.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'myapp/'%}css/index.css" />
{% endblock css %}

{% block contenido %}
    <!-- box -->
    <div class="centrado">
        {% for p  in platos %}
        <div class="titulo">
            <h1>{{p.nombre_plato}}</h1>
            <div class="box">
                <!-- imagen -->
                <div class="imgbox">
                    <img src="{{p.imagen}}" alt="{{p.nombre_plato}}">
                </div>
                <!-- contenidop detras de la imagen -->
                <div class="content" >
                    <!-- necesario -->
                    -
                    <!-- necesario -->
                    <p style="margin-left: 77%;">{{p.descripcion}}</p>
            
                    <center><a href="{% url 'agregar_carrito' p.id_plato %}"><button type="button" class="boton">Carrito</button></a> <p class="precio">{{p.precio}}</p></center>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock contenido %}