{% extends 'myapp/base.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'myapp/'%}css/respuesta.css" />
{% endblock css %}

{% block contenido %}
    <form action="" method="post">
        <section class="form-registro">
            <h1><!-- aqui va el mensaje --> tu plato se guardo con exito!</h1>
            <h1 style="color: red;"><!-- aqui va el mensaje negativo --> tu plato no se guardo</h1>
            <input class="boton" type="submit" value="Confirmar">
        </section>
    </form>
{% endblock contenido %}